@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <p class="lead inline-center">GESTION DE BIBLIOTHEQUE ELECTRONIQUE</p>
   
</div>

<style>

    .jumbotron {
        position: relative;
        top: 20px;
    }
    p.lead.inline-center {
        text-align: center;
        font-weight: 800;
    }
</style>